USE [master]
GO
/****** Object:  Database [QLBAIXE]    Script Date: 4/9/2021 1:13:21 PM ******/
CREATE DATABASE [QLBAIXE] ON  PRIMARY 
( NAME = N'QLBAIXE', FILENAME = N'd:\SQL\SAVE DATA\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLBAIXE.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBAIXE_log', FILENAME = N'd:\SQL\SAVE DATA\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLBAIXE_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBAIXE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBAIXE]
GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MA_CHUC_VU] [nvarchar](15) NOT NULL,
	[TEN_CHUC_VU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__CHUC_VU__AE6C5C121BC821DD] PRIMARY KEY CLUSTERED 
(
	[MA_CHUC_VU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANG_NHAP]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANG_NHAP](
	[TAI_KHOANG] [nvarchar](15) NOT NULL,
	[MAT_KHAU] [nvarchar](15) NOT NULL,
	[MA_CHUC_VU] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__DANG_NHA__CAC91DD922751F6C] PRIMARY KEY CLUSTERED 
(
	[TAI_KHOANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIA_TIEN]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIA_TIEN](
	[MA_LOAI_VE] [nvarchar](15) NOT NULL,
	[MA_KHUNG_GIO] [nvarchar](15) NOT NULL,
	[GIA_TIEN] [int] NOT NULL,
 CONSTRAINT [PK_GIA_TIEN] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_VE] ASC,
	[MA_KHUNG_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUNG_GIO]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUNG_GIO](
	[MA_KHUNG_GIO] [nvarchar](15) NOT NULL,
	[TEN_KHUNG_GIO] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__KHUNG_GI__905F77612645B050] PRIMARY KEY CLUSTERED 
(
	[MA_KHUNG_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_VE]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_VE](
	[MA_LOAI_VE] [nvarchar](15) NOT NULL,
	[TEN_LOAI] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__LOAI_VE__FAA6EDF81BFD2C07] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_VE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [nvarchar](15) NOT NULL,
	[HO_TEN] [nvarchar](50) NOT NULL,
	[NAM_SINH] [date] NULL,
	[DIA_CHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[GIOI_TINH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__NHAN_VIE__53E6E93F4B7734FF] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_SU_CO]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_SU_CO](
	[MA_SU_CO] [nvarchar](15) NOT NULL,
	[BIEN_SO_XE] [nvarchar](15) NOT NULL,
	[NGAY_XAY_RA] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_SU_CO] ASC,
	[BIEN_SO_XE] ASC,
	[NGAY_XAY_RA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_VE_THANG]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_VE_THANG](
	[BIEN_SO_XE] [nvarchar](15) NOT NULL,
	[MA_SINH_VIEN] [nvarchar](15) NOT NULL,
	[NGAY_LAM_VE] [date] NOT NULL,
	[NGAY_HET_HAN] [date] NOT NULL,
	[TRANG_THAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__QL_VE_TH__366D4436398D8EEE] PRIMARY KEY CLUSTERED 
(
	[BIEN_SO_XE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINH_VIEN]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINH_VIEN](
	[MA_SINH_VIEN] [nvarchar](15) NOT NULL,
	[HO_TEN] [nvarchar](30) NOT NULL,
	[LOP] [nvarchar](10) NOT NULL,
	[NAM_SINH] [date] NULL,
	[QUE_QUAN] [nvarchar](15) NULL,
	[GIOI_TINH] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK__SINH_VIE__8BF6535B3D5E1FD2] PRIMARY KEY CLUSTERED 
(
	[MA_SINH_VIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SU_CO]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SU_CO](
	[MA_SU_CO] [nvarchar](15) NOT NULL,
	[TEN_SU_CO] [nvarchar](20) NOT NULL,
	[XU_PHAT] [int] NOT NULL,
 CONSTRAINT [PK__SU_CO__398072AB31EC6D26] PRIMARY KEY CLUSTERED 
(
	[MA_SU_CO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE_XE]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE_XE](
	[MA_VE] [nvarchar](15) NOT NULL,
	[MA_LOAI_VE] [nvarchar](15) NOT NULL,
	[BIEN_SO_XE] [nvarchar](15) NOT NULL,
	[MA_KHUNG_GIO] [nvarchar](15) NULL,
	[NGAY_VAO] [date] NOT NULL,
	[GIO_VAO] [time](7) NOT NULL,
	[NGAY_RA] [date] NULL,
	[GIO_RA] [time](7) NULL,
	[MA_NV_VAO] [nvarchar](15) NOT NULL,
	[MA_NV_RA] [nvarchar](15) NULL,
	[GIA_TIEN] [int] NULL,
	[TINH_TRANG] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__VE_XE__53E1D4CE1FCDBCEB] PRIMARY KEY CLUSTERED 
(
	[MA_VE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XE]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE](
	[BIEN_SO_XE] [nvarchar](15) NOT NULL,
	[HIEU_XE] [nvarchar](15) NULL,
	[MAU_XE] [nvarchar](15) NULL,
 CONSTRAINT [PK__XE__366D4436182C9B23] PRIMARY KEY CLUSTERED 
(
	[BIEN_SO_XE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUC_VU] ([MA_CHUC_VU], [TEN_CHUC_VU]) VALUES (N'QL', N'NHÂN VIÊN QUẢN LÍ')
INSERT [dbo].[CHUC_VU] ([MA_CHUC_VU], [TEN_CHUC_VU]) VALUES (N'TT', N'NHÂN VIÊN THƯỜNG')
INSERT [dbo].[DANG_NHAP] ([TAI_KHOANG], [MAT_KHAU], [MA_CHUC_VU]) VALUES (N'QL01', N'123', N'QL')
INSERT [dbo].[DANG_NHAP] ([TAI_KHOANG], [MAT_KHAU], [MA_CHUC_VU]) VALUES (N'QL02', N'123', N'QL')
INSERT [dbo].[DANG_NHAP] ([TAI_KHOANG], [MAT_KHAU], [MA_CHUC_VU]) VALUES (N'TT01', N'123', N'TT')
INSERT [dbo].[GIA_TIEN] ([MA_LOAI_VE], [MA_KHUNG_GIO], [GIA_TIEN]) VALUES (N'L', N'S', 3000)
INSERT [dbo].[GIA_TIEN] ([MA_LOAI_VE], [MA_KHUNG_GIO], [GIA_TIEN]) VALUES (N'L', N'T', 5000)
INSERT [dbo].[GIA_TIEN] ([MA_LOAI_VE], [MA_KHUNG_GIO], [GIA_TIEN]) VALUES (N'T', N'A', 120000)
INSERT [dbo].[KHUNG_GIO] ([MA_KHUNG_GIO], [TEN_KHUNG_GIO]) VALUES (N'A', N'CẢ NGÀY')
INSERT [dbo].[KHUNG_GIO] ([MA_KHUNG_GIO], [TEN_KHUNG_GIO]) VALUES (N'S', N'SÁNG')
INSERT [dbo].[KHUNG_GIO] ([MA_KHUNG_GIO], [TEN_KHUNG_GIO]) VALUES (N'T', N'TỐI')
INSERT [dbo].[LOAI_VE] ([MA_LOAI_VE], [TEN_LOAI]) VALUES (N'L', N'LƯỢT')
INSERT [dbo].[LOAI_VE] ([MA_LOAI_VE], [TEN_LOAI]) VALUES (N'T', N'THÁNG')
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [HO_TEN], [NAM_SINH], [DIA_CHI], [SDT], [GIOI_TINH]) VALUES (N'QL01', N'NGUYỄN VĂN A', CAST(N'1999-12-15' AS Date), N'', N'', N'NAM')
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [HO_TEN], [NAM_SINH], [DIA_CHI], [SDT], [GIOI_TINH]) VALUES (N'QL02', N'TRẦN THỊ C', CAST(N'1999-05-04' AS Date), N'', N'', N'NỮ')
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [HO_TEN], [NAM_SINH], [DIA_CHI], [SDT], [GIOI_TINH]) VALUES (N'TT01', N'TRAN VAN D', CAST(N'2000-12-01' AS Date), N'123 HHHHHH', N'0939473482', N'NAM')
INSERT [dbo].[QL_SU_CO] ([MA_SU_CO], [BIEN_SO_XE], [NGAY_XAY_RA]) VALUES (N'02', N'13H002', CAST(N'2021-04-02' AS Date))
INSERT [dbo].[QL_SU_CO] ([MA_SU_CO], [BIEN_SO_XE], [NGAY_XAY_RA]) VALUES (N'02', N'14H003', CAST(N'2021-04-02' AS Date))
INSERT [dbo].[QL_VE_THANG] ([BIEN_SO_XE], [MA_SINH_VIEN], [NGAY_LAM_VE], [NGAY_HET_HAN], [TRANG_THAI]) VALUES (N'11B001', N'n18dccn245', CAST(N'2021-04-09' AS Date), CAST(N'2021-05-09' AS Date), N'CÒN HẠN')
INSERT [dbo].[QL_VE_THANG] ([BIEN_SO_XE], [MA_SINH_VIEN], [NGAY_LAM_VE], [NGAY_HET_HAN], [TRANG_THAI]) VALUES (N'12H004', N'n18dccn245', CAST(N'2021-04-09' AS Date), CAST(N'2021-05-09' AS Date), N'CÒN HẠN')
INSERT [dbo].[QL_VE_THANG] ([BIEN_SO_XE], [MA_SINH_VIEN], [NGAY_LAM_VE], [NGAY_HET_HAN], [TRANG_THAI]) VALUES (N'13H002', N'N18DCCN245', CAST(N'2021-04-02' AS Date), CAST(N'2021-05-02' AS Date), N'CÒN HẠN')
INSERT [dbo].[SINH_VIEN] ([MA_SINH_VIEN], [HO_TEN], [LOP], [NAM_SINH], [QUE_QUAN], [GIOI_TINH]) VALUES (N'12345', N'12345', N'12345', NULL, N'', N'Nam')
INSERT [dbo].[SINH_VIEN] ([MA_SINH_VIEN], [HO_TEN], [LOP], [NAM_SINH], [QUE_QUAN], [GIOI_TINH]) VALUES (N'N18DCC245', N'NGUYEN TAN QUANG VINH', N'D18CQCN02', NULL, N'', N'Nam')
INSERT [dbo].[SINH_VIEN] ([MA_SINH_VIEN], [HO_TEN], [LOP], [NAM_SINH], [QUE_QUAN], [GIOI_TINH]) VALUES (N'N18DCCN234', N'NGUYỄN VĂN A', N'D18CQCN03', CAST(N'2000-02-14' AS Date), NULL, N'NAM')
INSERT [dbo].[SU_CO] ([MA_SU_CO], [TEN_SU_CO], [XU_PHAT]) VALUES (N'01', N'MẤT PHIẾU XE', 50000)
INSERT [dbo].[SU_CO] ([MA_SU_CO], [TEN_SU_CO], [XU_PHAT]) VALUES (N'02', N'QUÊN PHIẾU XE', 20000)
INSERT [dbo].[SU_CO] ([MA_SU_CO], [TEN_SU_CO], [XU_PHAT]) VALUES (N'03', N'HƯ XE', -40000)
INSERT [dbo].[VE_XE] ([MA_VE], [MA_LOAI_VE], [BIEN_SO_XE], [MA_KHUNG_GIO], [NGAY_VAO], [GIO_VAO], [NGAY_RA], [GIO_RA], [MA_NV_VAO], [MA_NV_RA], [GIA_TIEN], [TINH_TRANG]) VALUES (N'VE001', N'T', N'14H003', N'A', CAST(N'2021-04-02' AS Date), CAST(N'13:56:35' AS Time), CAST(N'2021-04-02' AS Date), CAST(N'13:56:51' AS Time), N'QL01', N'QL01', 0, N'ĐÃ LẤY')
INSERT [dbo].[VE_XE] ([MA_VE], [MA_LOAI_VE], [BIEN_SO_XE], [MA_KHUNG_GIO], [NGAY_VAO], [GIO_VAO], [NGAY_RA], [GIO_RA], [MA_NV_VAO], [MA_NV_RA], [GIA_TIEN], [TINH_TRANG]) VALUES (N'VE002', N'L', N'13H003', N'S', CAST(N'2021-04-02' AS Date), CAST(N'14:13:01' AS Time), CAST(N'2021-04-03' AS Date), CAST(N'09:25:24' AS Time), N'QL01', N'QL01', 0, N'ĐÃ LẤY')
INSERT [dbo].[VE_XE] ([MA_VE], [MA_LOAI_VE], [BIEN_SO_XE], [MA_KHUNG_GIO], [NGAY_VAO], [GIO_VAO], [NGAY_RA], [GIO_RA], [MA_NV_VAO], [MA_NV_RA], [GIA_TIEN], [TINH_TRANG]) VALUES (N'VE003', N'L', N'13H002', N'A', CAST(N'2021-04-02' AS Date), CAST(N'14:14:16' AS Time), CAST(N'2021-04-02' AS Date), CAST(N'14:16:24' AS Time), N'QL01', N'QL01', 20000, N'ĐÃ LẤY')
INSERT [dbo].[XE] ([BIEN_SO_XE], [HIEU_XE], [MAU_XE]) VALUES (N'11B001', N'AB', N'DEN')
INSERT [dbo].[XE] ([BIEN_SO_XE], [HIEU_XE], [MAU_XE]) VALUES (N'1234    ', N'a', N'a    ')
INSERT [dbo].[XE] ([BIEN_SO_XE], [HIEU_XE], [MAU_XE]) VALUES (N'12B004', N'VISION', N'XANH DUONG')
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHUNG_GI__7BB3CB8129221CFB]    Script Date: 4/9/2021 1:13:22 PM ******/
ALTER TABLE [dbo].[KHUNG_GIO] ADD  CONSTRAINT [UQ__KHUNG_GI__7BB3CB8129221CFB] UNIQUE NONCLUSTERED 
(
	[TEN_KHUNG_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [DF__NHAN_VIEN__GIOI___503BEA1C]  DEFAULT (N'NAM') FOR [GIOI_TINH]
GO
ALTER TABLE [dbo].[SINH_VIEN] ADD  CONSTRAINT [DF__SINH_VIEN__GIOI___3F466844]  DEFAULT (N'NAM') FOR [GIOI_TINH]
GO
ALTER TABLE [dbo].[VE_XE] ADD  CONSTRAINT [DF_VE_XE_TINH_TRANG]  DEFAULT (N'TRỐNG') FOR [TINH_TRANG]
GO
ALTER TABLE [dbo].[DANG_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_DANG_NHAP_CHUC_VU1] FOREIGN KEY([MA_CHUC_VU])
REFERENCES [dbo].[CHUC_VU] ([MA_CHUC_VU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANG_NHAP] CHECK CONSTRAINT [FK_DANG_NHAP_CHUC_VU1]
GO
ALTER TABLE [dbo].[GIA_TIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIA_TIEN_KHUNG_GIO] FOREIGN KEY([MA_KHUNG_GIO])
REFERENCES [dbo].[KHUNG_GIO] ([MA_KHUNG_GIO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIA_TIEN] CHECK CONSTRAINT [FK_GIA_TIEN_KHUNG_GIO]
GO
ALTER TABLE [dbo].[GIA_TIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIA_TIEN_LOAI_VE] FOREIGN KEY([MA_LOAI_VE])
REFERENCES [dbo].[LOAI_VE] ([MA_LOAI_VE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIA_TIEN] CHECK CONSTRAINT [FK_GIA_TIEN_LOAI_VE]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_DANG_NHAP] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[DANG_NHAP] ([TAI_KHOANG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_DANG_NHAP]
GO
ALTER TABLE [dbo].[QL_SU_CO]  WITH CHECK ADD  CONSTRAINT [FK_QL_SU_CO_SU_CO] FOREIGN KEY([MA_SU_CO])
REFERENCES [dbo].[SU_CO] ([MA_SU_CO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QL_SU_CO] CHECK CONSTRAINT [FK_QL_SU_CO_SU_CO]
GO
ALTER TABLE [dbo].[QL_SU_CO]  WITH CHECK ADD  CONSTRAINT [FK_QL_SU_CO_XE] FOREIGN KEY([BIEN_SO_XE])
REFERENCES [dbo].[XE] ([BIEN_SO_XE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QL_SU_CO] CHECK CONSTRAINT [FK_QL_SU_CO_XE]
GO
ALTER TABLE [dbo].[QL_VE_THANG]  WITH CHECK ADD  CONSTRAINT [FK_QL_VE_THANG_SINH_VIEN] FOREIGN KEY([MA_SINH_VIEN])
REFERENCES [dbo].[SINH_VIEN] ([MA_SINH_VIEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QL_VE_THANG] CHECK CONSTRAINT [FK_QL_VE_THANG_SINH_VIEN]
GO
ALTER TABLE [dbo].[QL_VE_THANG]  WITH CHECK ADD  CONSTRAINT [FK_QL_VE_THANG_XE] FOREIGN KEY([BIEN_SO_XE])
REFERENCES [dbo].[XE] ([BIEN_SO_XE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QL_VE_THANG] CHECK CONSTRAINT [FK_QL_VE_THANG_XE]
GO
ALTER TABLE [dbo].[VE_XE]  WITH CHECK ADD  CONSTRAINT [FK_VE_XE_KHUNG_GIO] FOREIGN KEY([MA_KHUNG_GIO])
REFERENCES [dbo].[KHUNG_GIO] ([MA_KHUNG_GIO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VE_XE] CHECK CONSTRAINT [FK_VE_XE_KHUNG_GIO]
GO
ALTER TABLE [dbo].[VE_XE]  WITH CHECK ADD  CONSTRAINT [FK_VE_XE_LOAI_VE] FOREIGN KEY([MA_LOAI_VE])
REFERENCES [dbo].[LOAI_VE] ([MA_LOAI_VE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VE_XE] CHECK CONSTRAINT [FK_VE_XE_LOAI_VE]
GO
ALTER TABLE [dbo].[VE_XE]  WITH CHECK ADD  CONSTRAINT [FK_VE_XE_NHAN_VIEN] FOREIGN KEY([MA_NV_VAO])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VE_XE] CHECK CONSTRAINT [FK_VE_XE_NHAN_VIEN]
GO
ALTER TABLE [dbo].[VE_XE]  WITH CHECK ADD  CONSTRAINT [FK_VE_XE_XE] FOREIGN KEY([BIEN_SO_XE])
REFERENCES [dbo].[XE] ([BIEN_SO_XE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VE_XE] CHECK CONSTRAINT [FK_VE_XE_XE]
GO
/****** Object:  StoredProcedure [dbo].[sp_VeXe_TuSinhID]    Script Date: 4/9/2021 1:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_VeXe_TuSinhID]
as
begin
declare @ma_next nvarchar(15)
declare @max int
select @max = COUNT(MA_VE) + 1 from VE_XE where MA_VE like 'VE'
set @ma_next = 'VE' + RIGHT('00' + CAST(@max as nvarchar(15)), 15)
while (exists(select MA_VE from VE_XE where MA_VE = @ma_next))
begin
	set @max = @max + 1
	set @ma_next = 'VE' + Right('00' + cast(@max as nvarchar(15)), 15)
end
select @ma_next as sp_VeXe_TuSinhID
end
GO
USE [master]
GO
