USE [master]
GO
/****** Object:  Database [QLBAIXE]    Script Date: 5/4/2021 8:11:09 AM ******/
CREATE DATABASE [QLBAIXE] ON  PRIMARY 
( NAME = N'QLBAIXE', FILENAME = N'd:\SQL\SAVE DATA\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLBAIXE.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBAIXE_log', FILENAME = N'd:\SQL\SAVE DATA\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLBAIXE_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBAIXE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBAIXE]
GO
/****** Object:  UserDefinedFunction [dbo].[KT_KH]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[KT_KH](@gio TIME)
returns nvarchar
as
	begin
		declare @MA_KHUNG_GIO nvarchar(15)
		if @gio > (select GIO_BAT_DAU from KHUNG_GIO where TEN_KHUNG_GIO = N'SÁNG') and @gio < (select GIO_KET_THUC from KHUNG_GIO where TEN_KHUNG_GIO = N'SÁNG')
			set @MA_KHUNG_GIO = 'S'
		else if @gio > (select GIO_BAT_DAU from KHUNG_GIO where TEN_KHUNG_GIO = N'TỐI') and @gio < (select GIO_KET_THUC from KHUNG_GIO where TEN_KHUNG_GIO = N'TỐI')
			set @MA_KHUNG_GIO = 'T'
		else
			set @MA_KHUNG_GIO = 'A'
		return @MA_KHUNG_GIO
	end
GO
/****** Object:  Table [dbo].[CA_TRUC]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_TRUC](
	[MA_CA] [nvarchar](15) NOT NULL,
	[TEN_CA] [nvarchar](50) NOT NULL,
	[GIO_BAT_DAU] [time](7) NOT NULL,
	[GIO_KET_THUC] [time](7) NOT NULL,
 CONSTRAINT [PK_CA_TRUC] PRIMARY KEY CLUSTERED 
(
	[MA_CA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MA_CHUC_VU] [nvarchar](15) NOT NULL,
	[TEN_CHUC_VU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__CHUC_VU__AE6C5C121BC821DD] PRIMARY KEY CLUSTERED 
(
	[MA_CHUC_VU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANG_NHAP]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANG_NHAP](
	[TAI_KHOANG] [nvarchar](15) NOT NULL,
	[MAT_KHAU] [nvarchar](15) NOT NULL,
	[MA_CHUC_VU] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__DANG_NHA__CAC91DD922751F6C] PRIMARY KEY CLUSTERED 
(
	[TAI_KHOANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIA_TIEN]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIA_TIEN](
	[MA_LOAI_VE] [nvarchar](15) NOT NULL,
	[MA_KHUNG_GIO] [nvarchar](15) NOT NULL,
	[GIA_TIEN] [int] NOT NULL,
 CONSTRAINT [PK_GIA_TIEN] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_VE] ASC,
	[MA_KHUNG_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUNG_GIO]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUNG_GIO](
	[MA_KHUNG_GIO] [nvarchar](15) NOT NULL,
	[TEN_KHUNG_GIO] [nvarchar](30) NOT NULL,
	[GIO_BAT_DAU] [time](7) NULL,
	[GIO_KET_THUC] [time](7) NULL,
 CONSTRAINT [PK__KHUNG_GI__905F77612645B050] PRIMARY KEY CLUSTERED 
(
	[MA_KHUNG_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__KHUNG_GI__7BB3CB8129221CFB] UNIQUE NONCLUSTERED 
(
	[TEN_KHUNG_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_VE]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_VE](
	[MA_LOAI_VE] [nvarchar](15) NOT NULL,
	[TEN_LOAI] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__LOAI_VE__FAA6EDF81BFD2C07] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_VE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [nvarchar](15) NOT NULL,
	[HO_TEN] [nvarchar](50) NOT NULL,
	[NAM_SINH] [date] NULL,
	[DIA_CHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[GIOI_TINH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__NHAN_VIE__53E6E93F4B7734FF] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHAN_CONG_TRUC]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAN_CONG_TRUC](
	[MA_CA] [nvarchar](15) NOT NULL,
	[NGAY_LAM] [date] NOT NULL,
	[MA_NHAN_VIEN] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_PHAN_CONG_TRUC] PRIMARY KEY CLUSTERED 
(
	[MA_CA] ASC,
	[NGAY_LAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_SU_CO]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_SU_CO](
	[MA_SU_CO] [nvarchar](15) NOT NULL,
	[BIEN_SO_XE] [nvarchar](15) NOT NULL,
	[NGAY_XAY_RA] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_SU_CO] ASC,
	[BIEN_SO_XE] ASC,
	[NGAY_XAY_RA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_VE_THANG]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_VE_THANG](
	[BIEN_SO_XE] [nvarchar](15) NOT NULL,
	[MA_SINH_VIEN] [nvarchar](15) NOT NULL,
	[NGAY_LAM_VE] [date] NOT NULL,
	[NGAY_HET_HAN] [date] NOT NULL,
	[TRANG_THAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__QL_VE_TH__366D4436398D8EEE] PRIMARY KEY CLUSTERED 
(
	[BIEN_SO_XE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINH_VIEN]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINH_VIEN](
	[MA_SINH_VIEN] [nvarchar](15) NOT NULL,
	[HO_TEN] [nvarchar](30) NOT NULL,
	[LOP] [nvarchar](10) NOT NULL,
	[NAM_SINH] [date] NULL,
	[QUE_QUAN] [nvarchar](15) NULL,
	[GIOI_TINH] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK__SINH_VIE__8BF6535B3D5E1FD2] PRIMARY KEY CLUSTERED 
(
	[MA_SINH_VIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SU_CO]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SU_CO](
	[MA_SU_CO] [nvarchar](15) NOT NULL,
	[TEN_SU_CO] [nvarchar](20) NOT NULL,
	[XU_PHAT] [int] NOT NULL,
 CONSTRAINT [PK__SU_CO__398072AB31EC6D26] PRIMARY KEY CLUSTERED 
(
	[MA_SU_CO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE_XE]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE_XE](
	[MA_VE] [nvarchar](15) NOT NULL,
	[MA_LOAI_VE] [nvarchar](15) NOT NULL,
	[BIEN_SO_XE] [nvarchar](15) NOT NULL,
	[MA_KHUNG_GIO] [nvarchar](15) NULL,
	[NGAY_VAO] [date] NOT NULL,
	[GIO_VAO] [time](7) NOT NULL,
	[NGAY_RA] [date] NULL,
	[GIO_RA] [time](7) NULL,
	[MA_NV_VAO] [nvarchar](15) NOT NULL,
	[MA_NV_RA] [nvarchar](15) NULL,
	[GIA_TIEN] [int] NULL,
	[TINH_TRANG] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__VE_XE__53E1D4CE1FCDBCEB] PRIMARY KEY CLUSTERED 
(
	[MA_VE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XE]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE](
	[BIEN_SO_XE] [nvarchar](15) NOT NULL,
	[HIEU_XE] [nvarchar](15) NULL,
	[MAU_XE] [nvarchar](15) NULL,
 CONSTRAINT [PK__XE__366D4436182C9B23] PRIMARY KEY CLUSTERED 
(
	[BIEN_SO_XE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [DF__NHAN_VIEN__GIOI___503BEA1C]  DEFAULT (N'NAM') FOR [GIOI_TINH]
GO
ALTER TABLE [dbo].[SINH_VIEN] ADD  CONSTRAINT [DF__SINH_VIEN__GIOI___3F466844]  DEFAULT (N'NAM') FOR [GIOI_TINH]
GO
ALTER TABLE [dbo].[VE_XE] ADD  CONSTRAINT [DF_VE_XE_TINH_TRANG]  DEFAULT (N'TRỐNG') FOR [TINH_TRANG]
GO
ALTER TABLE [dbo].[DANG_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_DANG_NHAP_CHUC_VU1] FOREIGN KEY([MA_CHUC_VU])
REFERENCES [dbo].[CHUC_VU] ([MA_CHUC_VU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANG_NHAP] CHECK CONSTRAINT [FK_DANG_NHAP_CHUC_VU1]
GO
ALTER TABLE [dbo].[GIA_TIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIA_TIEN_KHUNG_GIO] FOREIGN KEY([MA_KHUNG_GIO])
REFERENCES [dbo].[KHUNG_GIO] ([MA_KHUNG_GIO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIA_TIEN] CHECK CONSTRAINT [FK_GIA_TIEN_KHUNG_GIO]
GO
ALTER TABLE [dbo].[GIA_TIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIA_TIEN_LOAI_VE] FOREIGN KEY([MA_LOAI_VE])
REFERENCES [dbo].[LOAI_VE] ([MA_LOAI_VE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIA_TIEN] CHECK CONSTRAINT [FK_GIA_TIEN_LOAI_VE]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_DANG_NHAP] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[DANG_NHAP] ([TAI_KHOANG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_DANG_NHAP]
GO
ALTER TABLE [dbo].[PHAN_CONG_TRUC]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CONG_TRUC_CA_TRUC] FOREIGN KEY([MA_CA])
REFERENCES [dbo].[CA_TRUC] ([MA_CA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHAN_CONG_TRUC] CHECK CONSTRAINT [FK_PHAN_CONG_TRUC_CA_TRUC]
GO
ALTER TABLE [dbo].[PHAN_CONG_TRUC]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CONG_TRUC_NHAN_VIEN] FOREIGN KEY([MA_NHAN_VIEN])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHAN_CONG_TRUC] CHECK CONSTRAINT [FK_PHAN_CONG_TRUC_NHAN_VIEN]
GO
ALTER TABLE [dbo].[QL_SU_CO]  WITH CHECK ADD  CONSTRAINT [FK_QL_SU_CO_SU_CO] FOREIGN KEY([MA_SU_CO])
REFERENCES [dbo].[SU_CO] ([MA_SU_CO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QL_SU_CO] CHECK CONSTRAINT [FK_QL_SU_CO_SU_CO]
GO
ALTER TABLE [dbo].[QL_SU_CO]  WITH CHECK ADD  CONSTRAINT [FK_QL_SU_CO_XE] FOREIGN KEY([BIEN_SO_XE])
REFERENCES [dbo].[XE] ([BIEN_SO_XE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QL_SU_CO] CHECK CONSTRAINT [FK_QL_SU_CO_XE]
GO
ALTER TABLE [dbo].[QL_VE_THANG]  WITH CHECK ADD  CONSTRAINT [FK_QL_VE_THANG_SINH_VIEN] FOREIGN KEY([MA_SINH_VIEN])
REFERENCES [dbo].[SINH_VIEN] ([MA_SINH_VIEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QL_VE_THANG] CHECK CONSTRAINT [FK_QL_VE_THANG_SINH_VIEN]
GO
ALTER TABLE [dbo].[QL_VE_THANG]  WITH CHECK ADD  CONSTRAINT [FK_QL_VE_THANG_XE] FOREIGN KEY([BIEN_SO_XE])
REFERENCES [dbo].[XE] ([BIEN_SO_XE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QL_VE_THANG] CHECK CONSTRAINT [FK_QL_VE_THANG_XE]
GO
ALTER TABLE [dbo].[VE_XE]  WITH CHECK ADD  CONSTRAINT [FK_VE_XE_KHUNG_GIO] FOREIGN KEY([MA_KHUNG_GIO])
REFERENCES [dbo].[KHUNG_GIO] ([MA_KHUNG_GIO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VE_XE] CHECK CONSTRAINT [FK_VE_XE_KHUNG_GIO]
GO
ALTER TABLE [dbo].[VE_XE]  WITH CHECK ADD  CONSTRAINT [FK_VE_XE_LOAI_VE] FOREIGN KEY([MA_LOAI_VE])
REFERENCES [dbo].[LOAI_VE] ([MA_LOAI_VE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VE_XE] CHECK CONSTRAINT [FK_VE_XE_LOAI_VE]
GO
ALTER TABLE [dbo].[VE_XE]  WITH CHECK ADD  CONSTRAINT [FK_VE_XE_NHAN_VIEN] FOREIGN KEY([MA_NV_VAO])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VE_XE] CHECK CONSTRAINT [FK_VE_XE_NHAN_VIEN]
GO
ALTER TABLE [dbo].[VE_XE]  WITH CHECK ADD  CONSTRAINT [FK_VE_XE_XE] FOREIGN KEY([BIEN_SO_XE])
REFERENCES [dbo].[XE] ([BIEN_SO_XE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VE_XE] CHECK CONSTRAINT [FK_VE_XE_XE]
GO
/****** Object:  StoredProcedure [dbo].[sp_VeXe_TuSinhID]    Script Date: 5/4/2021 8:11:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_VeXe_TuSinhID]
as
begin
declare @ma_next nvarchar(15)
declare @max int
select @max = COUNT(MA_VE) + 1 from VE_XE where MA_VE like 'VE'
set @ma_next = 'VE' + RIGHT('' + CAST(@max as nvarchar(15)), 15)
while (exists(select MA_VE from VE_XE where MA_VE = @ma_next))
begin
	set @max = @max + 1
	set @ma_next = 'VE' + Right('' + cast(@max as nvarchar(15)), 15)
end
select @ma_next as sp_VeXe_TuSinhID
end
GO
USE [master]
GO
